// Microsoft Visual C++에서 생성한 리소스 스크립트입니다.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2에서 생성되었습니다.
//
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// 한국어(대한민국) 리소스

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TEXTCONTROL_DIALOG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "텍스트 컨트롤 위치 변경 예제"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "텍스트 컨트롤 1",IDC_TEXT_CONTROL1,20,20,100,20,SS_CENTERIMAGE
    LTEXT           "텍스트 컨트롤 2",IDC_TEXT_CONTROL2,20,50,100,20,SS_CENTERIMAGE
    LTEXT           "텍스트 컨트롤 3",IDC_TEXT_CONTROL3,20,80,100,20,SS_CENTERIMAGE
    PUSHBUTTON      "좌표 파일 로드",IDC_LOAD_COORDINATES,20,250,80,23
    PUSHBUTTON      "위치 리셋",IDC_RESET_POSITIONS,110,250,80,23
    DEFPUSHBUTTON   "확인",IDOK,200,250,50,23
    PUSHBUTTON      "취소",IDCANCEL,260,250,50,23
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_TEXTCONTROL_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 393
        TOPMARGIN, 7
        BOTTOMMARGIN, 293
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // 한국어(대한민국) 리소스
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 3에서 생성되었습니다.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED 아님