#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2에서 생성되었습니다.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// 한국어(대한민국) 리소스

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "#define _AFX_NO_SPLITTER_RESOURCES\r\n"
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)\r\n"
    "LANGUAGE 18, 1\r\n"
    "#include ""res\\TextControlApp.rc2""  // Microsoft Visual C++에서 편집하지 않은 리소스입니다.\r\n"
    "#include ""l.KOR\\afxres.rc""      // 표준 구성 요소\r\n"
    "#if !defined(_AFXDLL)\r\n"
    "#include ""l.KOR\\afxribbon.rc""   // MFC 리본 및 컨트롤 막대 리소스\r\n"
    "#endif\r\n"
    "#endif\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON                    "res\\TextControlApp.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TextControlApp 정보"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
    LTEXT           "TextControlApp, 버전 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2024",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "확인",IDOK,113,41,50,14,WS_GROUP
END

IDD_TEXTCONTROL_DIALOG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "TextControl 위치 변경 예제"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,290,260,50,14
    PUSHBUTTON      "취소",IDCANCEL,343,260,50,14
    LTEXT           "텍스트 컨트롤 1",IDC_TEXT_CONTROL1,20,30,100,20,SS_SUNKEN
    LTEXT           "텍스트 컨트롤 2",IDC_TEXT_CONTROL2,20,70,100,20,SS_SUNKEN
    LTEXT           "텍스트 컨트롤 3",IDC_TEXT_CONTROL3,20,110,100,20,SS_SUNKEN
    PUSHBUTTON      "좌표 파일 로드",IDC_BTN_LOAD_COORDS,20,200,80,25
    GROUPBOX        "설명",IDC_STATIC,200,30,180,120
    LTEXT           "이 예제는 파일에서 좌표를 읽어와서\r\nTextControl의 위치를 동적으로 변경하는\r\n방법을 보여줍니다.\r\n\r\n좌표 파일 형식:\r\nx y width height\r\n\r\n예시:\r\n100 50 200 25\r\n150 100 180 30\r\n200 150 160 20",IDC_STATIC,210,45,160,95
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END

    IDD_TEXTCONTROL_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 393
        TOPMARGIN, 7
        BOTTOMMARGIN, 293
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_TEXTCONTROL_DIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_ABOUTBOX            "TextControlApp 정보(&A)..."
END

#endif    // 한국어(대한민국) 리소스
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 3에서 생성되었습니다.
//

#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE 18, 1
#include "res\TextControlApp.rc2"  // Microsoft Visual C++에서 편집하지 않은 리소스입니다.
#include "l.KOR\afxres.rc"      // 표준 구성 요소
#if !defined(_AFXDLL)
#include "l.KOR\afxribbon.rc"   // MFC 리본 및 컨트롤 막대 리소스
#endif
#endif

/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED 아님